.subpage_blog_title {
  background-color: #ef228d;
}
.blog_shadow {
  box-shadow: #ef228d 8px 8px;
}
[data-filter-view]:not([data-filter-view=""]) [data-filter-key] {
  display: none;
}
[data-filter-view][data-filter-view~="カテゴリー"]
  [data-filter-key="カテゴリー"],
[data-filter-view][data-filter-view~="こんにちは"]
  [data-filter-key="こんにちは"],
[data-filter-view][data-filter-view~="こんばんは"]
  [data-filter-key="こんばんは"],
[data-filter-view][data-filter-view~="いただきます"]
  [data-filter-key="いただきます"] {
  display: block;
}
.blog_filter_cond {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  width: 95%;
  margin: 0 auto;
}
.blog_filter_cond label {
  display: block;
  width: 200px;
  text-align: center;
  background-color: #fff;
  padding: 8px 8px;
  margin: 18px;
  border-radius: 10px;
  border: 1px solid #000;
}
.blog_filter_cond input {
  display: none;
}
input[type="checkbox"]:checked ~ #label1,
input[type="checkbox"]:checked ~ #label2,
input[type="checkbox"]:checked ~ #label3,
input[type="checkbox"]:checked ~ #label4 {
  background-color: #db694c;
}

@media screen and (max-width: 900px) {
  .blog_filter_cond label {
    width: 180px;
    margin: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .blog_filter_cond {
    justify-content: space-around;
  }
  .blog_filter_cond label {
    width: 144px;
    margin: 4px;
    font-size: 12px;
  }
  .blog_card_element {
    margin-top: 40px;
  }
  .blog_text {
    font-size: 12px;
  }
}
