.subpage_store_title {
  background-color: #db694c;
}
.store_shadow {
  box-shadow: #db694c 8px 8px;
}
.filter {
  margin-top: 200px;
}
.subpage_store_list {
  padding-top: 80px;
}
.check_wrap {
  background-color: #fff;
  border: 4px #000 solid;
  box-shadow: #fe511a 10px 10px;
}
[data-filter-view]:not([data-filter-view=""]) [data-filter-key] {
  display: none;
}
[data-filter-view][data-filter-view~="あわら市"] [data-filter-key="あわら市"],
[data-filter-view][data-filter-view~="坂井市"] [data-filter-key="坂井市"],
[data-filter-view][data-filter-view~="永平寺町"] [data-filter-key="永平寺町"],
[data-filter-view][data-filter-view~="勝山市"] [data-filter-key="勝山市"] {
  display: block;
}
.store_filter_cond {
  display: flex;
  flex-wrap: wrap;
}
.store_filter_cond li {
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.store_filter_cond span {
  padding-left: 8px;
  font-weight: bold;
}

input {
  display: none;
}
.store_label {
  width: 66px;
  height: 33px;
  box-sizing: border-box;
  border: 2px solid;
  float: left;
  border-radius: 66px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
input[type="checkbox"]:checked + .store_label {
  background: #fe511a;
}
.store_label:before {
  transition: 0.3s ease;
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  background: white;
  left: 2px;
  top: 1px;
  box-sizing: border-box;
  border: 3px solid;
  color: black;
  border-radius: 166px;
}
input[type="checkbox"]:checked + label::before {
  left: auto;
  right: 2px;
}

@media screen and (max-width: 767px) {
  .filter {
    margin-top: 120px;
  }
  .store_label {
    width: 40px;
    height: 20px;
    border: 2px solid;
    border-radius: 50px;
  }
  .store_label:before {
    width: 14px;
    height: 14px;
  }
  .store_filter_cond span {
    font-size: 14px;
    padding-left: 4px;
  }
  .store_filter_cond li {
    padding: 6px;
  }
}
